@model IEnumerable<HospitalManagement.Models.Patient>

<h2 class="text-center text-primary mb-4">
    Hospital Dashboard
</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}


<a asp-action="Create" class="btn btn-success mb-3">
    ➕ Add Patient
</a>
<form method="get">
    <input type="number"
           name="id"
           class="form-control mb-2"
           placeholder="Enter Patient Id" />

    <button formaction="/Patient/Details" class="btn btn-primary">
        View
    </button>
    <br />
    <br />
  </form>
  <form asp-action="Edit" method="get"> 

    <input type="number"
           name="id"
           class="form-control mb-2"
           placeholder="Enter Patient Id" />
    <button formaction="/Patient/Edit" class="btn btn-warning">
        Edit
    </button>
</form>
    <br />
    <form asp-action="Remove" method="get">
    <input type="number"
           name="id"
           class="form-control mb-2"
           placeholder="Enter Patient Id" />

    <button formaction="/Patient/Remove" class="btn btn-danger">
        Delete

    </button>
    <br />
    <br />
    
    <form asp-action="home" method="get">

        <button formaction="/Patient/Details" class="btn btn-primary">
            ViewPatientList
        </button>
        <h2>Patient List</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Disease</th>
                    <th>Doctor</th>
                    <th>City</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Gender</td>
                        <td>@item.Disease</td>
                        <td>@item.DoctorName</td>
                        <td>@item.City</td>
                    </tr>
                }
            </tbody>
        </table>

   
        <br />
        <br />
    </form>
    </div>
    </form>
    <br />
    <br />


